{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load hunt_tags %}
{% load static %}
{% load flatpages %}

{% block base_includes %}
<link rel="stylesheet" type="text/css" href="{% static "huntserver/info_base.css" %}">
{% endblock base_includes %}

{% block left-header %}
  {% get_flatpages '/extra/' as flatpages %}

	<li class='{% active_page request "current_hunt_info" %}'>
		<a href="{% url 'huntserver:current_hunt_info' %}"> Hunt Info </a>
	</li>
	<li class='{% active_page request "leaderboard" %}'>
		<a href="{% url 'huntserver:leaderboard' %}"> Teams </a>
	</li>
  {% for page in flatpages|dictsort:"url" %}
    <li class='{% active_page request page.url %}'>
      <a href="/info{{ page.url }}"> {{ page.title }} </a>
    </li>
  {% endfor %}

  <li class='{% active_page request "current_hunt" %}'>
    {% set_curr_hunt %}
    <a href="{% url 'huntserver:current_hunt' %}"> Latest Hunt </a>
  </li>
{% endblock %}
